<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <%= method_caption_ads(params)%>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
            <%= form_for(ad) do |f| %>
              <% if ad.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(ad.errors.count, "error") %> prohibited this ad from being saved:</h2>

                  <ul>
                  <% ad.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                  </ul>
                </div>
              <% end %>

              <div class="field">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :source %>
                <%= f.text_area :source, class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :height %>
                <%= f.text_field :height, class: 'form-control' %>
              </div>

              <div class="field">
                <%= f.label :weight %>
                <%= f.text_field :weight, class: 'form-control' %>
              </div>
              <br />
              <div class="actions">
                <%= f.submit method_caption_ads(params), class: "btn btn-default" %>
              </div>
            <% end %>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
aaa
