<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ad.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @ad.source %>
</p>

<p>
  <strong>Height:</strong>
  <%= @ad.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @ad.weight %>
</p>

<%= link_to 'Edit', edit_ad_path(@ad) %> |
<%= link_to 'Back', ads_path %>
