<footer class="site-footer centered container">
  <div class="footer-container">
    <div class="site-info container">
      <div class="footer-copyright">&copy; 2017 Mezmerize, Inc. All Rights Reserved</div>
      <nav id="footer-navigation" class="footer-menu" role="navigation">
        <ul class="footer-menu__items">
          <li class="<%= action_name == 'index' ? 'selected' : '' %>"><a href="/">Home</a></li>
          <li class="<%= action_name == 'about' ? 'selected' : '' %>"><a href="/about">About</a></li>
          <li class="<%= action_name == 'elements' ? 'selected' : '' %>"><a href="/elements">Elements</a></li>
          <li class="<%= action_name == 'blog' ? 'selected' : '' %>"><a href="/blog">Blog</a></li>
          <li class="<%= action_name == 'contacts' ? 'selected' : '' %>"><a href="/contacts">Contacts</a></li>
        </ul>
      </nav>
      <!-- #footer-navigation -->
      <div class="footer-addpanel"><span>AD HERE </span></div>
    </div>
    <!-- .site-info -->
  </div>
  <!-- .container -->
</footer>
<!-- #colophon -->
